.Filter {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(219,219,219,1);
    padding: 20px;
    border-radius: 5px;
}

.Filter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Filter-action {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}