.Table {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(219,219,219,1);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.Table-content {
    border-collapse: collapse;
    padding: 30px 0;
}

.Table-header {
    border-bottom: 2px solid lightgray;
}

.Table-row {
    border-bottom: 1px solid #cccccc47;
}

.Table-row:hover {
    background-color: #cccccc47;
    cursor: pointer;
}

.Table-column, .Table-data {
    text-align: center;
    padding: 10px;
}
