.Table {
    margin-bottom: 20px;

    .Table-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Table-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .Table-name {
            padding: 20px 0 30px 0;
            margin: 0;
        }
    }

    .Table-content {
        border-collapse: collapse;

        .Table-header {
            border-bottom: 3px solid #4e4d63;
        }

        .Table-row {

            &:not(:last-child) {
                border-bottom: 1px solid #cccccc47;
            }

            .Table-data {

            }

            &:hover {
                background-color: #cccccc47;
                cursor: pointer;
            }
        }
    }
}

.Table-column, .Table-data {
    text-align: center;
    padding: 10px;
}
