{% extends 'base.html.twig' %}

{% block title %}MyFleet{% endblock %}

{% block body %}
    <div id="app" class="">
        <div class="container">
            <vehicle></vehicle>
        </div>
    </div>
{% endblock %}
