{% extends 'base.html.twig' %}

{% block title %}MyFleet{% endblock %}

{% block body %}
    <div class="container">
        <div class="Main mt-4">
            <div class="col-xs-12 col-md-5 Main-title">
                <h3 class="Main-headline">
                    Pradėkite perversmą savo įmonėje
                </h3>
                <p class="Main-subHeadline my-3">Valdyti transporto priemones dar niekada nebuvo taip paprasta</p>
                <a class="Button Button--primary" href="{{ path('app_login') }}">Prisijungti</a>
            </div>
            <div class="col-xs-12 col-md-7 mt-3">
                <img class="Main-image" src="/Main-image.svg">
            </div>
        </div>
        <div class="Services my-5">
            <div class="col-md-12">
                <h4 class="Services-title">Ką mes siūlome</h4>
            </div>
            <div class="Services-content mt-4">
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/list-service.svg">
                    <p class="Service-description mt-3">Transporto priemonių parko valdymą realiu laiku su išsamia informacija apie kiekvieną transporto priemonę</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/search-service.svg">
                    <p class="Service-description mt-3">Paieškos variklį, padėsiantį surasti ir filtruoti norimas transporto priemones</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/map-service.svg">
                    <p class="Service-description mt-3">Transporto priemonės buvimo vietą realiu laiku</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/task-service.svg">
                    <p class="Service-description mt-3">Transporto priemonės išsamios informacijos valdymą, užduočių, įvykių ar išlaidų pildymą, galimybę redaguoti esamą informaciją</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/data-service.svg">
                    <p class="Service-description mt-3">Galimybę stebėti kasdien atsinaujinančią transporto priemonės informaciją iš išorinių šaltinių</p>
                </div>
                <div class="col-sm-12 col-md-5 col-lg-3 my-4 mx-2 Block Block-content">
                    <img class="Service-image" src="/support-service.svg">
                    <p class="Service-description mt-3">Pilną sistemos palaikymą ir sisteminių problemų sprendimą 24 valandas per parą</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
