.NotesTabs {
    display: flex;
    flex-direction: row;
}

.NotesTabs-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.NotesTabs-title:hover {
    background-color: #cccccc47;
    cursor: pointer;
}

.NotesTabs-title--active {
    background-color: #cccccc47;
    border-bottom: 2px solid #4e4d63;
}

.NotesTabs-form {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 15px 20px;
}