.NotesTabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.NotesTabs-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
    border-bottom: 1px solid $color-black;
}

.NotesTabs-title:hover {
    cursor: pointer;
}

.NotesTabs-title--active {
    border-bottom: none;
    border-top: 1px solid $color-black;
    border-right: 1px solid $color-black;
    border-left: 1px solid $color-black;
}

.NotesTabs-form {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.NotesTabs-formAction {
    display: flex;
    justify-content: flex-end;
}
