.Property {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Property-name {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid $color-rowWrapper;
}

.Property-value--success {
    color: $color-success;
}

.Property-value--error {
    color: $color-error;
}