.Property {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Property-name {
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc47;
}

.Property-value--success {
    color: #14A098;
}

.Property-value--error {
    color: #CB2D6F;
}