// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import 'colors.scss';
@import 'components/Pages/List/Table.scss';
@import 'components/BaseComponents/Button.scss';
@import "components/BaseComponents/Title.scss";
@import 'components/Pages/Vehicle/Property.scss';
@import 'components/Pages/Vehicle/NotesTabs.scss';
@import 'components/Pages/Vehicle/NotesCard.scss';
@import 'components/Header.scss';
@import 'components/Footer.scss';
@import 'components/Pages/List/Filter.scss';
@import 'components/BaseComponents/Select.scss';
@import 'components/BaseComponents/Input.scss';
@import 'components/BaseComponents/Button.scss';
@import 'components/Pages/List/Pagination.scss';
@import 'components/BaseComponents/Checkbox.scss';
@import 'components/BaseComponents/Block.scss';
@import 'components/Pages/Login/Login.scss';
@import 'components/Pages/Home/Main.scss';
@import 'components/Pages/Home/Services.scss';
@import 'components/Pages/Vehicle/Map.scss';
@import 'components/BaseComponents/Snackbar.scss';
@import 'components/BaseComponents/Form.scss';
@import 'components/Pages/Action.scss';
@import 'components/Pages/Vehicle/Modal.scss';

* {
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #fffdfd;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

html {
  scroll-behavior: smooth;
}