// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

@import './components/Pages/List/Table.scss';
@import './components/BaseComponents/Button.scss';
@import './components/Pages/Vehicle/Vehicle.scss';
@import "./components/BaseComponents/Title.scss";
@import './components/Pages/Vehicle/Property.scss';
@import './components/Pages/Vehicle/NotesTabs.scss';
@import './components/Pages/Vehicle/NotesCard.scss';
@import './components/Header.scss';

* {
  font-family: Ubuntu, serif;
}

h3 {
  font-weight: 300;
}

.nfq-academy {
  margin: 20px auto;
  text-align: center;
  font-size: 96px;
  font-weight: 100;
  font-family: 'Lato', serif;
}