.Header {
}

.Header-content {
    display: flex;
    justify-content: space-between;
}

.Header-logo {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.Header-image {
    width: 100%;
}


.Header-menu {
    display: inline-block;
}

.Header-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
}
.Header-listItem {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.Header-link:hover {
    text-decoration: none;
    color: #CB2D6F;
}