.Header {

}

.Header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 60px;
}

.Header-logo {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

.Header-image {
    width: 100%;
}

.Header-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.Header-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-fieldName;
}

.Header-link:hover {
    text-decoration: none;
    color: $color-error;
}

.Header-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-fieldName;
}