{% extends 'base.html.twig' %}

{% block title %}MyFleet{% endblock %}

{% block body %}
    <div id="app" class="">
        <the-header></the-header>
        <div class="container">
            <the-table></the-table>
        </div>
    </div>
{% endblock %}