{% extends 'base.html.twig' %}

{% block title %}Vehicle{% endblock %}

{% block body %}
    <div id="app" class="">
        <the-header></the-header>
        <div class="container">
            <vehicle></vehicle>
        </div>
    </div>
{% endblock %}