.Block {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(219,219,219,1);
    padding: 20px;
    border-radius: 5px;
}

.Block-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Block-field {
    padding: 15px 0;
}