.Button {
    padding: 5px 20px;
    border-radius: 5px;
    color: $color-white;
    box-shadow: 0 0 5px 0 $shadow;
    display: flex;
    flex-direction: row;
    align-items: center;

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: $color-white;
        color: $color-black;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
    }

    &--active {
        pointer-events: none;
    }

    &--disabled {
        background-color: $color-disabled;
        border: 1px solid $color-disabled;
        pointer-events: none;
    }

    &--available {
        background-color: $color-available;
        border: 1px solid $color-available;
    }

    &--primary {
        background-color: $color-primary;
        border: 1px solid $color-primary;
    }

    &--error {
        background-color: $color-error;
        border: 1px solid $color-error;
    }

    &--success {
        background-color: $color-success;
        border: 1px solid $color-success;
    }
}

.Button-icon {
    color: inherit;
    cursor: pointer;
}

.Button-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $color-fieldName;

    &:hover {
        color: $color-error;
        text-decoration: none;
    }
}