.Button {
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px 0 rgba(158,156,158,1);
}

.Button:focus {
    outline: none;
}

.Button-icon {
    color: inherit;
}

.Button--primary {
    background-color: #1B9CE5;
    border: 1px solid #1B9CE5;
}

.Button--primary:hover {
    background-color: #cccccc47;
    color: #0F292F;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.Button--error {
    background-color: #CB2D6F;
    border: 1px solid #CB2D6F;
}

.Button--error:hover {
    background-color: #cccccc47;
    color: #0F292F;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.Button-return {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.Button-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Button--disabled {
    background-color: lighten(#1B9CE5, 20);
    border: 1px solid lighten(#1B9CE5, 20);
    pointer-events: none;
    cursor: default;
    color: white;
}

.Button--active {
    background-color: #CB2D6F;
    border: 1px solid #CB2D6F;
    pointer-events: none;
    cursor: default;
    color: white;
}