.Checkbox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.Checkbox-name {
    font-size: 20px;
}

.Checkbox-checkmark {
    background-color: #1B9CE5;
    height: 20px;
    width: 20px;
    vertical-align: center;
    margin-right: 10px;
}