.Form {
    list-style-type: none;
}

.Form-field--error {
    color: $color-error;
    position: relative;
}

.Form-field--error > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 13px;
    right: 9px;
}

.Form-field--error > ul > li {
    font-size: 14px;
}