.Input {
    display: grid;
    grid-auto-columns: auto;
    position: relative;

    .Input-value {
        -webkit-appearance: none;
        border: none;
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 400;
        box-shadow: 0 0 10px 0 $shadow;
        width: 100%;

        &:focus {
            outline: none;
        }

        &--primary {
            border-bottom: 2px solid $color-primary;
        }
    }

    .Input-name {
        font-size: 14px;
        padding: 5px 10px;
        color: $color-fieldName;
    }
}

::placeholder {
    color: $color-black;
}

::-moz-placeholder {
    color: $color-mozillaBlack;
    opacity: 1;
}