.Input {
    -webkit-appearance: none;
    border: none;
    margin: 0;
    border-bottom: 3px solid #1B9CE5;
    padding: 0 5px;
    font-size: 20px;
    width: 100%;
    background-color: #ffffff00;
}

.Input::placeholder {
    color: #000000b5;
}

.Input:focus {
    outline: none;
}