.Snackbar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    right: 20px;
    top: 30px;
    z-index: 1000000;
}

.Snackbar-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    z-index: 1000000;
    right: 30px;
    top: 30px;
    font-size: 17px;
}

.flash-error {
    visibility: visible;
    background-color: #CB2D6F;
}

.flash-success {
    visibility: visible;
    background-color: #14A098;
}

.flash-warning {
    visibility: visible;
    background-color: #ffae42;
}

@-webkit-keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        top: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        top: 30px;
        opacity: 1;
    }
    to {
        top: 0;
        opacity: 0;
    }
}