.Title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #4e4d63;
    padding: 0 20px 10px;
}

.Title-name {
    margin: 0;
}

.Title-action {
    display: flex;
    flex-direction: row;
}